<header class="header">
    <h1 class="header-heading">
        <a href="{% url 'contact:index' %}" class="header-link">Agenda</a>
    </h1>

    <nav class="menu">
        <ul class="menu-list">
            <li class="menu-item">
                <a href="{% url 'contact:create' %}" class="menu-link">New Contact</a>
            </li>
            <li class="menu-item">
                <a href="{% url 'contact:index' %}" class="menu-link">contacts</a>
            </li>
        </ul>
    </nav>

    <div class="search">
        <form 
        action="{{form_action}}" 
        method="GET"
        >
            <input 
            type="search" 
            class="search-input" 
            placeholder="Search"
            id="search"
            name="q" 
            value = "{{ search_value}}" {% comment %} ou como é chamado pelo index tambem é possivel usar request.GET.q {% endcomment %}
            >
            <!-- q de query -->
        </form>
    </div>
</header>