{% extends "global/base.html" %}

{% block content %}
<div class="form-wrapper">
    <h2>New Contact</h2>
    <form action=""
    method="POST"
    enctype="multipart/form-data">
    
    {% comment %} geração de token de segurança {% endcomment %}
    {% csrf_token %} 

    {% comment %} <div class="form-content">
        <div class="form-group">
            <label for="id_first_name">LABEL</label>
            <input type="text" name="first_name" maxlenght="255">
        </div>
    </div>  {% endcomment %}

    {% for field in form %}
        <div class="form-group">
            <label for="{{field.id_for_label}}">{{field.label}}</label>
            {{field}}
        </div>
    {% endfor %}


    <div class="form-content">
        <div class="form-group">
            <button class="btn" type="submit"> Send </button>
        </div>
    </div>

{% endblock %}
