
<article class="post">
    <header>
        <h2 class="post__title">Lorem ipsum dolor sit amet.</h2>
    </header>
        <div class="post__body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quo illum sapiente aspernatur quaerat quos nulla dolorum eum veniam a quam asperiores nobis culpa, 
            quis beatae corporis cum laborum deserunt officiis neque sint veritatis consequuntur eos ipsum. Atque, tempore commodi? Ducimus asperiores magnam esse porro aliquam
             dignissimos, quasi inventore sunt.
        </div>
</article>